body {
    margin: 0;
    padding: 0;
    background-image: url('assest/img/stad.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
}

.saha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    border-radius: 15px;
    position: relative;
}

.takim:first-child {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-image: url('assest/img/gs.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease;
    background-color: transparent; 
}

.takim:first-child:hover {
    transform: scale(1.05);
}

.takim:last-child {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-image: url('assest/img/fb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    background-color: transparent; 
}

.takim:last-child:hover {
    transform: scale(1.05);
}

.takim-isim {
    font-size: 50px;
    margin-bottom: 15px;
    color: #062c04;
}

.skor {
    font-size: 100px;
    color: #115213;
    margin: 20px 0;
}

.kontroller {
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}



.skor-buton {
    background-color: #115213;
    color: white;
}

.skor-buton:hover {
    background-color: #3e8e41;
}

.belirle-buton {
    background-color: #03A9F4;
    color: white;
}

.belirle-buton:hover {
    background-color: #0288d1;
}
